.App {
  text-align: center;
  margin-bottom: 100px;
}

body {
  background: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.card {
  background: white;
  font-size: 20px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px gray;
  padding-right: 30px;
  padding-left: 30px;
}

.match1 {
  text-align: right;
}

.match2 {
  text-align: left;
}

.imageWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.employee-enter {
  opacity: 0.01;
}

.employee-enter.employee-enter-active {
  opacity: 1;
  transition: 700ms;
}

.employee-leave {
  opacity: 1;
}

.employee-leave.employee-leave-active {
  opacity: 0.01;
  transition: 700ms;
}